# Dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.*

# Git
.git
.gitignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose*.yml

# Documentation
README.md

# Tests
coverage